body {
    background-color: aqua;
    text-align: center;
    
}

.h1 {
    color: red;
    font-size: 65px;
    background-color: black;
    border-radius: 50px;
}

.eerst {
    text-align: center;
    color: violet;
    background-color: black;
    border-radius: 50px;
}

.class1 {
  
  color:black;
}
.class2{
    text-align: left;
    color: rgb(167, 122, 122);
}

.class3{
 text-align: right;
 color: blueviolet;
}
.class5{
    text-align: left;
    color: burlywood;
}
.class6{text-align: center;
}
.class7{text-align: right;
    color: coral;
}
.class8{
    text-align: left;
}
.class9{
    text-align: center;
    color: darkgreen;
}
.class10{
    text-align: right;
}
.class11{
    text-align: left;
    color: gold;
}
.class12{
    text-align: center;
    color: forestgreen;
}
.class13{
    text-align: right;
    color: salmon;
}
.class14{
    text-align: left;
}
.class15{
    text-align: center;
    color: navy;
}
.class16{
    text-align: right;
}
.class17{text-align:left;
    color: lime;
}
.class18{text-align: center;
    color: yellowgreen;
}